.flag{
    width: 180px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #efefef;
}
#green{
    width: 180px;
    height: 50px;
    background-color: green;
}
#white{
    width: 180px;
    height: 50px;
    background-color: white;
}